body{
        background-image:url("/imge/travel.gif");
        background-size: cover;
        background-repeat: no-repeat;
}

.container{
        margin-top: 80px;
}



.overlay{
        background-color: rgba(0, 0, 0, 0.53);
}

